.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
 
  background-image: url(./istockphoto-1364940000-170667a.jpg) ;




  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  
}


label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

input {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
  background-color: #0077cc;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #005ea6;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}