*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    margin:0 !important;
    padding:0 !important;
}
main{
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
}
.sidebar{
    background: yellowgreen;
    color: #fff;
    height: 100vh;
    width: auto !important;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}




.form-container, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
  }
  
  
  label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  input {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  button {
    font-size: 1.2rem;
    background-color: #0077cc;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }





  .go-back-btn{
    background-position-y: bottom;
    margin-top: 40px;
  }